.fancy_table{overflow-x: auto;}
.fancy_table table {max-width: 600px !important;margin: 0 auto!important; border-collapse: collapse; font-size: 12px;}
.fancy_table td {padding: 5px 20px 5px 0px; vertical-align: top; text-align: center;}
.fancy_table tr:first-child {border-bottom: 2px solid black;font-weight: bold;text-align: center;}
.fancy_table tr:nth-child(odd) {background-color: white!important}
.fancy_table tr:nth-child(even) {background-color: #eeeeee!important}
.fancy_table .left {text-align: left;}
.fancy_table tr {border-bottom: 1px solid #f5f5f5; font-size: 12px;}
.fancy_table tbody{display:block;overflow: auto;}