.tbl {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
  .tblrow {
    display: flex;
    min-height: 50px;
    border-top: 1px solid #E0E0E0;
  }
  .tblrow:first-child{border-top: 0px;}
  .tblrow:last-child{border-bottom: 1px solid #E0E0E0;}
  .tblcell {
    flex: 4;
    text-align: right;
    padding-top: 15px;
    padding-right: 5px;
    border-right: 1px solid #E0E0E0;
    
  }
  .tblcell:first-child{text-align: left; border-left: 0px;}
  .tblcell:last-child{border-right: 0px;}
  .tblrow .tblcell {
    box-sizing: border-box;
  }
  .tbl .text {color: #767676;font-size: 12px}
  .tbl_button {max-width: 600px;}